
<div class="row-flex row-flex-wrap">
  <% @teas.each do |t| %>

      <div class="col-md-4" style="background: gainsboro;border:3px solid white">
        <div class="col-sm-12" style="word-wrap: break-word; ">
          <div class="col-sm-12">
            <h2><%=  t.name %></h2>
          </div>
          <%= link_to "View tea", tea_path(t), class: "btn btn-default btn-sm pull-right", style: "margin-bottom:5px;"%>
          <div class="clearfix"></div>
        </div>
      </div>
  <% end %>
</div>
<div class="row">
  <%= will_paginate @teas %>
</div>