
<h2>

<div><%= link_to "List", controller: "teas", action: "index" %></div>
    <% if user_signed_in? %>
<div><%= link_to "Create", controller: "teas", action: "new" %></div>
        <% end %>

</h2>